* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background: #f5f5f5;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(#222,#111);
    color: white;
}

.logo {
    width: 280px;
    max-width: 90%;
}

h1 {
    font-size: 48px;
    margin: 10px;
}

.tagline {
    color: #f57c20;
    font-size: 20px;
    font-weight: bold;
}

.button {
    display: inline-block;
    margin-top: 20px;
    background: #f57c20;
    color: white;
    padding: 14px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}


section {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

h2 {
    font-size: 34px;
}


.services {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 15px;
}

.services div {
    background:white;
    padding:18px;
    border-left:5px solid #f57c20;
    box-shadow:0 2px 8px #ccc;
}


.project {
    background:white;
    margin:35px 0;
    padding:25px;
    border-radius:12px;
    box-shadow:0 3px 15px #bbb;
}

.project-img {
    width:100%;
    border-radius:10px;
}

.project h3 {
    font-size:28px;
}

.price {
    font-size:24px;
    color:#f57c20;
    font-weight:bold;
}


li {
    margin:8px 0;
}


footer {
    background:#111;
    color:white;
    text-align:center;
    padding:35px;
}

.footer-logo {
    width:200px;
}
